
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static '/static/css/update-style.css' %}" />
<!DOCTYPE html>

<style>
body > .container {
  padding-top: 0px;
  margin-left: 30px;
  background-color: white;
}
</style>

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <title>Adusu会計管理システム</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
        <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" type="text/css" media="screen" rel="stylesheet" />
        <!--for datepicker-->
        <link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" >
        <link rel="stylesheet" href="https://cdn.rawgit.com/maechabin/bootstrap-material-button-color/master/dist/cb-materialbtn.0.5.5.min.css" />
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />-->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        
        <!--for datepicker-->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>-->   
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>-->
        
        
        <!--<script src="{{ STATIC_URL }} /static/js/django_select2.js" ></script>-->
        <!--<script src="{{ STATIC_URL }} /static/js/jquery-3.3.1.min.js" ></script>-->
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
        
        <!--for datepicker-->
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
        <script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
        <script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/i18n/jquery-ui-i18n.min.js"></script>
        
        <!--select2-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
        
        <!--tablefix-->
        <script src="{{ STATIC_URL }} /static/js/jquery.tablefix.js" ></script>
        
        <!--画面位置保持用(位置注意)-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="{{ STATIC_URL }} /static/js/jquery.keep-position.js"></script>
        <!---->
        
        <!--祝日判定-->
        <script src="{{ STATIC_URL }} /static/js/holiday.js" ></script>
        
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>-->
       
        <style>
        body {
            padding-top: 50px;
            margin-left: -20px;
        }
        </style>
    </head>
    <body >
        <div class="navbar navbar-inverse navbar-fixed-top" style="margin-left: -0%;">
            <div class="container">
                <div class="navbar-header" >
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'account:index' %}">ADUSU会計管理Webシステム</a>
                </div>
                <div class="collapse navbar-collapse ">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">マスター管理<b class="caret"></b></a>
						  <ul class="dropdown-menu">
                            <li><a href="{% url 'account:partner_list' %}">取引先マスター管理</a></li>
							<li><a href="{% url 'account:account_title_list' %}">勘定科目マスター管理</a></li>
                            <li><a href="{% url 'account:bank_list' %}">銀行マスター管理</a></li>
                            <li><a href="{% url 'account:bank_branch_list' %}">銀行支店マスター管理</a></li>
			              </ul>
						</li>
						<li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">支払管理<b class="caret"></b></a>
						  <ul class="dropdown-menu">
                            <li><a href="{% url 'account:payment_list' %}">支払データ管理</a></li>
                            <li><a href="{% url 'account:balance_sheet_list' %}">貸借データ管理</a></li>
                            <li><a href="{% url 'account:cash_flow_detail_expected_list' %}">資金繰(予)管理</a></li>
                            <li><a href="{% url 'account:cash_flow_detail_actual_list' %}">資金繰(実)管理</a></li>
                          </ul>
						</li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">出納帳管理<b class="caret"></b></a>
						  <ul class="dropdown-menu">
                            <li><a href="{% url 'account:cash_book_list' %}">出納帳データ管理</a></li>
                            <li><a href="{% url 'account:cash_book_weekly_list' %}">週末データ管理</a></li>
						  </ul>
						</li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">予約管理<b class="caret"></b></a>
						  <ul class="dropdown-menu">
                            <li><a href="{% url 'account:payment_reserve_list' %}">支払予約データ管理</a></li>
						  </ul>
						</li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">資金管理<b class="caret"></b></a>
						  <ul class="dropdown-menu">
                            <li><a href="{% url 'account:cash_flow_header_list' %}">資金繰り表</a></li>
                            <li><a href="{% url 'account:balance_sheet_tally_list' %}">貸借表</a></li>
                          </ul>
						</li>
                        <!--<li><a href="#about">About</a></li>-->
                        <!--<li><a href="#github">Github</a></li>-->
                        <!--<li><a href="http://tmlife.net">Blog</a></li>-->
                        <!--<li><a href="https://twitter.com/phi_jp">Contact</a></li>-->
                    </ul>
                </div>
            </div>
        </div>

        <br><br>
                
        <div class="container">
		    {% block content %}
			<font color="#5858FA">
            <div>
			    <h1>ADUSU会計管理</h1>
				<h1>Webシステム</h1>
                <p>
                   Copyright (C) 2018 copyrights.<a href="http://adusu-denki.com/">
	                 adusu-denki.com</a> All Rights Reserved.
                </p>
                <a href="{% url 'logout' %}"   >ログアウト</a>
            </div>
			</font>
			{% endblock %}
        </div>
    </body>
</html>

<script type="text/javascript">
  $(document).on('ready page:load', function(){
    
    //ENTER→TABキーに変換する処理。
    $('[tabindex]').keydown(function (e) {
      if (e.keyCode == 13 || e.keyCode == 9) {
        var tabindex = parseInt($(this).attr('tabindex'));
        $('[tabindex='+(tabindex+1)+']').focus();
        return false;
      }
    
    });
    
  
  });
</script>