{% extends "base.html" %}
{% load humanize %}
{% load debug_tags %}
{% load sorting_tags %}
{% load utils %}

<!--デバッグしたい箇所で下記をセットする-->
<!--{% set_trace %}-->

{% block title %}資金繰り表(見出)の一覧{% endblock title %}
{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}

    <h3 class="page-header">資金繰り表の発行</h3>
   
    <form type="get" action="" style="margin: 0">
        
        <!-- -->
        <label for="searchbox">収支年月:</label>
        <input class="searchfield" id="search_cash_flow_date_from" name="q_cash_flow_date_from" type="text" value="{{search_query_cash_flow_date_from}}" placeholder="未選択..."/>
        
        <button type="button" class="btn btn-grey400_rsd btn-xs" onclick="clearPayDateFrom()" >×</button>
        
        <!--
        <label for="searchbox">収支年月(終了):</label>
        <input class="searchfield" id="search_cash_flow_date_to" name="q_cash_flow_date_to" type="text" value="{{search_query_cash_flow_date_to}}" placeholder="未選択..."/>
        <button type="button" class="btn btn-grey400_rsd btn-xs" onclick="clearPayDateTo()" >×</button>
        -->
      
      <!--
      </br><button id="search_submit" type="submit" name="button_1" class="btn btn-grey200_rsd keep-disp" >検索</button>
      -->
      
      </br>
      <button id="search_submit_2" type="submit" name="button_2" class="btn btn-grey200_rsd keep-disp" style="width:100px;")"" >集計</button>
      
      <!--
      <button id="search_submit_2" type="submit" name="button_2" class="btn btn-lightblue200_rsd keep-disp" onclick="return confirm('集計データを作成します。\n(修正済のデータがある場合、一旦リセットされます)\n本当に実行してよろしいですか？')"" >集計データ作成</button>
      -->
       
      <a href="{% url 'account:cash_flow_list_1' %}" class="btn btn-cyan700_ftg keep-disp" target="_blank" >資金繰り表</a>
    
    </form>
   
    
    <!--<button onclick="call_counter('account:payment_list_2', 12345);">
            I update object 12345
    </button>-->
       
   
<!--見出し固定用設定-->
<div style="margin-top : -0px;", class="span11 table-scrollable" >
 
  <style>
   table { }
   table th, table td { white-space:nowrap; overflow:hidden; }
  </style>
  
    {% autosort cash_flow_headers %}
    <table id="tablefix", class="table table-striped table-bordered">
      <thead>
        <tr>
          <th style="vertical-align:middle;" rowspan="3">ID</th>
          <th style="text-align:center;vertical-align:middle;" rowspan="3">{% anchor order "日付" %}</th>
          <th style="text-align:center" colspan="2">支出</th>
          <th style="text-align:center" colspan="2">収入</th>
          <th style="text-align:center;vertical-align:middle;" colspan="12">残高</th>
        </tr>
        <tr>
          <th style="text-align:center;vertical-align:middle;" rowspan="2">予定</th>
          <th style="text-align:center;vertical-align:middle;" rowspan="2">実際</th>
          <th style="text-align:center;vertical-align:middle;" rowspan="2">予定</th>
          <th style="text-align:center;vertical-align:middle;" rowspan="2">実際</th>
          <th style="text-align:center;" colspan="2">北越銀行</th>
          <th style="text-align:center;" colspan="2">三信(塚野目)</th>
          <th style="text-align:center;" colspan="2">三信(本店)</th>
          <th style="text-align:center;" colspan="2">現金(社長)</th>
          <th style="text-align:center;" colspan="2">現金(会社)</th>
          <th style="text-align:center;" colspan="2">合計</th>
        </tr>
        <tr>
          <th style="text-align:center;">予定</th>
          <th style="text-align:center;">実際</th>
          <th style="text-align:center;">予定</th>
          <th style="text-align:center;">実際</th>
          <th style="text-align:center;">予定</th>
          <th style="text-align:center;">実際</th>
          
          <th style="text-align:center;">予定</th>
          <th style="text-align:center;">実際</th>
          
          <th style="text-align:center;">予定</th>
          <th style="text-align:center;">実際</th>
          <th style="text-align:center;">予定</th>
          <th style="text-align:center;">実際</th>
        </tr>
      </thead>
      <tbody id="sortable" class="connectedSortable style="font-size : 12px;">
        {% for cash_flow_header in cash_flow_headers %}
        <tr id="cash_flow_header_{{ cash_flow_header.id }}">
          <td>{{ cash_flow_header.id }}</td>
          <td>{{ cash_flow_header.cash_flow_date|date:"Y/m/d(D)" }}</td>
          
          <!--支出(予定)-->
          {% if cash_flow_header.expected_expense != 0 %}
            <!--
            <td align="right">￥{{ cash_flow_header.expected_expense| intcomma:False }}</td>
            -->
            
            <td align="right"><a class="btn-link keep-disp" href="{% url 'account:cash_flow_detail_expected_list'%}?q_expected_date_from={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_expected_date_to={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_bp_id=0">￥{{cash_flow_header.expected_expense| intcomma:False}}</a></td>
            
          {% else %}
            <!--０なら非表示-->
            <td align="right"></td>
          {% endif %}
          
          <!--支出(実際)-->
          {% if cash_flow_header.actual_expense != 0 %}
            <!--<td align="right">￥{{ cash_flow_header.actual_expense| intcomma:False }}</td>-->
                        
            <td align="right"><a class="text-danger keep-disp" href="{% url 'account:cash_flow_detail_actual_list'%}?q_actual_date_from={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_actual_date_to={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_bp_id=0">￥{{cash_flow_header.actual_expense| intcomma:False}}</a></td>
            
          {% else %}
            <!--０なら非表示-->
            <td align="right"></td>
          {% endif %}
          
          <!--収入(予定)-->
          {% if cash_flow_header.expected_income != 0 %}
            <!--<td align="right">￥{{ cash_flow_header.expected_income| intcomma:False }}</td>-->
            
            <td align="right"><a class="btn-link keep-disp" href="{% url 'account:cash_flow_detail_expected_list'%}?q_expected_date_from={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_expected_date_to={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_bp_id=1">￥{{cash_flow_header.expected_income| intcomma:False}}</a></td>
            
          {% else %}
            <!--０なら非表示-->
            <td align="right"></td>
          {% endif %}
          
          <!--収入(実際)-->
          {% if cash_flow_header.actual_income != 0 %}
            <!--<td align="right">￥{{ cash_flow_header.actual_income| intcomma:False }}</td>-->
            
            <td align="right"><a class="text-danger keep-disp" href="{% url 'account:cash_flow_detail_actual_list'%}?q_actual_date_from={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_actual_date_to={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_bp_id=1">￥{{cash_flow_header.actual_income| intcomma:False}}</a></td>
            
          {% else %}
            <!--０なら非表示-->
            <td align="right"></td>
          {% endif %}
          
          <!--北越(予)-->
          {% if cash_flow_header.expected_hokuetsu != 0 %}
            <!--
            <td align="right">￥{{ cash_flow_header.expected_hokuetsu| intcomma:False }}</td>
            -->
            <td align="right"><a class="btn-link keep-disp" href="{% url 'account:cash_flow_detail_expected_list'%}?q_expected_date_from={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_expected_date_to={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_bank_id=1">￥{{cash_flow_header.expected_hokuetsu| intcomma:False}}</a></td>
          {% else %}
            <!--０なら非表示-->
            <td align="right"></td>
          {% endif %}
          
          <!--北越(実)-->
          {% if cash_flow_header.actual_hokuetsu != 0 %}
            <!--<td align="right">￥{{ cash_flow_header.actual_hokuetsu| intcomma:False }}</td>-->
          
            <td align="right"><a class="text-danger keep-disp" href="{% url 'account:cash_flow_detail_actual_list'%}?q_actual_date_from={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_actual_date_to={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_bank_id=1">￥{{cash_flow_header.actual_hokuetsu| intcomma:False}}</a></td>
            
          {% else %}
            <!--０なら非表示-->
            <td align="right"></td>
          {% endif %}
          
          <!--三信(塚野目)(予定)-->
          {% if cash_flow_header.expected_sanshin_tsukanome != 0 %}
            <!--<td align="right">￥{{ cash_flow_header.expected_sanshin_tsukanome| intcomma:False }}</td>-->
            
            <td align="right"><a class="btn-link keep-disp" href="{% url 'account:cash_flow_detail_expected_list'%}?q_expected_date_from={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_expected_date_to={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_bank_id={{ID_BANK_SANSHIN}}&q_bank_branch_id={{ID_BANK_BRANCH_SANSHIN_TSUKANOME}}">￥{{cash_flow_header.expected_sanshin_tsukanome| intcomma:False}}</a></td>
            
          {% else %}
            <!--０なら非表示-->
            <td align="right"></td>
          {% endif %}
          
          <!--三信(塚野目)(実)-->
          {% if cash_flow_header.actual_sanshin_tsukanome != 0 %}
            <!--<td align="right">￥{{ cash_flow_header.actual_sanshin_tsukanome| intcomma:False }}</td>-->
          
            <td align="right"><a class="text-danger keep-disp" href="{% url 'account:cash_flow_detail_actual_list'%}?q_actual_date_from={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_actual_date_to={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_bank_id={{ID_BANK_SANSHIN}}&q_bank_branch_id={{ID_BANK_BRANCH_SANSHIN_TSUKANOME}}">￥{{cash_flow_header.actual_sanshin_tsukanome| intcomma:False}}</a></td>
          {% else %}
            <!--０なら非表示-->
            <td align="right"></td>
          {% endif %}
          
          <!--三信(本店)(予定)-->
          {% if cash_flow_header.expected_sanshin_main != 0 %}
            <!--<td align="right">￥{{ cash_flow_header.expected_sanshin_main| intcomma:False }}</td>-->
            
            <td align="right"><a class="btn-link keep-disp" href="{% url 'account:cash_flow_detail_expected_list'%}?q_expected_date_from={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_expected_date_to={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_bank_id={{ID_BANK_SANSHIN}}&q_bank_branch_id={{ID_BANK_BRANCH_SANSHIN_MAIN}}">￥{{cash_flow_header.expected_sanshin_main| intcomma:False}}</a></td>
            
          {% else %}
            <!--０なら非表示-->
            <td align="right"></td>
          {% endif %}
          
          <!--三信(本店)(実際)-->
          {% if cash_flow_header.actual_sanshin_main != 0 %}
            <!--<td align="right">￥{{ cash_flow_header.actual_sanshin_main| intcomma:False }}</td>-->
            <td align="right"><a class="text-danger keep-disp" href="{% url 'account:cash_flow_detail_actual_list'%}?q_actual_date_from={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_actual_date_to={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_bank_id={{ID_BANK_SANSHIN}}&q_bank_branch_id={{ID_BANK_BRANCH_SANSHIN_MAIN}}">￥{{cash_flow_header.actual_sanshin_main| intcomma:False}}</a></td>
            
          {% else %}
            <!--０なら非表示-->
            <td align="right"></td>
          {% endif %}
          
          
          
          <!--現金(社長)(予定)-->
          {% if cash_flow_header.expected_cash_president != 0 %}
            <td align="right">￥{{ cash_flow_header.expected_cash_president| intcomma:False }}</td>
          {% else %}
            <!--０なら非表示-->
            <td align="right"></td>
          {% endif %}
          
          <!--現金(社長)(実際)-->
          {% if cash_flow_header.actual_cash_president != 0 %}
            <td align="right">￥{{ cash_flow_header.actual_cash_president| intcomma:False }}</td>
          {% else %}
            <!--０なら非表示-->
            <td align="right"></td>
          {% endif %}
          
          
          <!--現金(会社)(予定)-->
          {% if cash_flow_header.expected_cash_company != 0 %}
            <!--<td align="right">￥{{ cash_flow_header.expected_cash_company| intcomma:False }}</td>-->
            <td align="right"><a class="btn-link keep-disp" href="{% url 'account:cash_flow_detail_expected_list'%}?q_expected_date_from={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_expected_date_to={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_bank_id=99">￥{{cash_flow_header.expected_cash_company| intcomma:False}}</a></td>
          {% else %}
            <!--０なら非表示-->
            <td align="right"></td>
          {% endif %}
          
          <!--現金(会社)(実際)-->
          {% if cash_flow_header.actual_cash_company != 0 %}
            <!--<td align="right">￥{{ cash_flow_header.actual_cash_company| intcomma:False }}</td>-->
            <td align="right"><a class="text-danger keep-disp" href="{% url 'account:cash_flow_detail_actual_list'%}?q_actual_date_from={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_actual_date_to={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_bank_id=99">￥{{cash_flow_header.actual_cash_company| intcomma:False}}</a></td>
          {% else %}
            <!--０なら非表示-->
            <td align="right"></td>
          {% endif %}
          
          <!--合計(予定)-->
          {% if cash_flow_header.expected_income != 0 or cash_flow_header.expected_expense != 0 %}
                <!--<td align="right">￥{{ cash_flow_header.expected_income|subtract:cash_flow_header.expected_expense| intcomma:False }}</td>-->
                <td align="right"><a class="btn-link keep-disp" href="{% url 'account:cash_flow_detail_expected_list'%}?q_expected_date_from={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_expected_date_to={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}">￥{{cash_flow_header.expected_income|subtract:cash_flow_header.expected_expense| intcomma:False}}</a></td>
          {% else %}
            <!--０なら非表示-->
            <td align="right"></td>
          {% endif %}
          
           <!--合計(実際)-->
          {% if cash_flow_header.actual_income != 0 or cash_flow_header.actual_expense != 0 %}
                <!--<td align="right">￥{{ cash_flow_header.actual_income|subtract:cash_flow_header.actual_expense| intcomma:False }}</td>-->
                <td align="right"><a class="text-danger keep-disp" href="{% url 'account:cash_flow_detail_actual_list'%}?q_actual_date_from={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}&q_actual_date_to={{cash_flow_header.cash_flow_date|date:"Y-m-d"}}">￥{{cash_flow_header.actual_income|subtract:cash_flow_header.actual_expense| intcomma:False}}</a></td>
          {% else %}
            <!--０なら非表示-->
            <td align="right"></td>
          {% endif %}
          
          <!--編集ボタン 保留で
          <td>
            <a href="{% url 'account:cash_flow_header_mod' cash_flow_header_id=cash_flow_header.id %}" class="btn btn-default btn-sm keep-disp">編集</a>
          </td>
          -->
          
        </tr>
        {% endfor %}
        
        <!--縦の合計表示-->
        <td></td>
        <td style="text-align:center;">合計</td>
        
        <!--合計-支出(予定)-->
        {% if sum_expected_expense != null %}
          <td align="right">￥{{ sum_expected_expense| intcomma:False }}</td>
        {% else %}
          <!--０なら非表示-->
          <td align="right"></td>
        {% endif %}
        
        <!--合計-支出(実際)-->
        {% if sum_actual_expense != null %}
          <td align="right">￥{{ sum_actual_expense| intcomma:False }}</td>
        {% else %}
          <!--０なら非表示-->
          <td align="right"></td>
        {% endif %}
        
        <!--合計-収入(予定)-->
        {% if sum_expected_income != null %}
          <td align="right">￥{{ sum_expected_income| intcomma:False }}</td>
        {% else %}
          <!--０なら非表示-->
          <td align="right"></td>
        {% endif %}
        
        <!--合計-収入(実際)-->
        {% if sum_actual_income != null %}
          <td align="right">￥{{ sum_actual_income| intcomma:False }}</td>
        {% else %}
          <!--０なら非表示-->
          <td align="right"></td>
        {% endif %}
        
        <!--合計-北越(予定)-->
        {% if sum_expected_hokuetsu != null %}
          <td align="right">￥{{ sum_expected_hokuetsu| intcomma:False }}</td>
        {% else %}
          <!--０なら非表示-->
          <td align="right"></td>
        {% endif %}
        
        <!--合計-北越(実際)-->
        {% if sum_actual_hokuetsu != null %}
          <td align="right">￥{{ sum_actual_hokuetsu| intcomma:False }}</td>
        {% else %}
          <!--０なら非表示-->
          <td align="right"></td>
        {% endif %}
        
        <!--合計-三信(塚野目)(予定)-->
        {% if sum_expected_sanshin_tsukanome != null %}
          <td align="right">￥{{ sum_expected_sanshin_tsukanome| intcomma:False }}</td>
        {% else %}
          <!--０なら非表示-->
          <td align="right"></td>
        {% endif %}
                
        <!--合計-三信(塚野目)(実際)-->
        {% if sum_actual_sanshin_tsukanome != null %}
          <td align="right">￥{{ sum_actual_sanshin_tsukanome| intcomma:False }}</td>
        {% else %}
          <!--０なら非表示-->
          <td align="right"></td>
        {% endif %}
        
        <!--合計-三信(塚野目)(予定)-->
        {% if sum_expected_sanshin_main != null %}
          <td align="right">￥{{ sum_expected_sanshin_main| intcomma:False }}</td>
        {% else %}
          <!--０なら非表示-->
          <td align="right"></td>
        {% endif %}
        
        <!--合計-三信(塚野目)(実際)-->
        {% if sum_actual_sanshin_main != null %}
          <td align="right">￥{{ sum_actual_sanshin_main| intcomma:False }}</td>
        {% else %}
          <!--０なら非表示-->
          <td align="right"></td>
        {% endif %}
        
        <!--合計-現金(社長)(予定)-->
        {% if sum_expected_cash_president != null %}
          <td align="right">￥{{ sum_expected_cash_president| intcomma:False }}</td>
        {% else %}
          <!--０なら非表示-->
          <td align="right"></td>
        {% endif %}
        
        <!--合計-現金(社長)(実際)-->
        {% if sum_actual_cash_president != null %}
          <td align="right">￥{{ sum_actual_cash_president| intcomma:False }}</td>
        {% else %}
          <!--０なら非表示-->
          <td align="right"></td>
        {% endif %}
        
        <!--合計-現金(会社)(予定)-->
        {% if sum_expected_cash_company != null %}
          <td align="right">￥{{ sum_expected_cash_company| intcomma:False }}</td>
        {% else %}
          <!--０なら非表示-->
          <td align="right"></td>
        {% endif %}
        
        <!--合計-現金(会社)(実際)-->
        {% if sum_actual_cash_company != null %}
          <td align="right">￥{{ sum_actual_cash_company| intcomma:False }}</td>
        {% else %}
          <!--０なら非表示-->
          <td align="right"></td>
        {% endif %}
                
        <!--総合計-->
        
        <!--予定-->
        {% if sum_expected_income|subtract:sum_expected_expense != null %}
          <td align="right">￥{{ sum_expected_income|subtract:sum_expected_expense| intcomma:False }}</td>
        {% else %}
          <!--０なら非表示-->
          <td align="right"></td>
        {% endif %}
        
        <!--実際-->
        {% if sum_actual_income|subtract:sum_actual_expense != null %}
          <td align="right">￥{{ sum_actual_income|subtract:sum_actual_expense| intcomma:False }}</td>
        {% else %}
          <!--０なら非表示-->
          <td align="right"></td>
        {% endif %}
        
        <!-- -->
        
      </tbody>
    </table>
    
    <!--新規ボタンを下端にも表示する-->
    <!--不要？？-->
</div>
	{# 削除を確認するモーダル ダイアログ #}
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="deleteModalLabel">確認</h4>
        </div>
        <div class="modal-body">
          <p>ID: <span id="del_pk"></span> を削除しますか？</p>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-primary" id="del_url">OK</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

 
  
  
<script>
  
  $(document).on('ready page:load', function(){
    
    //select2
    $("#id_partner").select2({  theme: "classic", allowClear: true , placeholder: '指定無し' });
    
    //画面位置保持用
    $('form').keepPosition();
    
       
    
    //dateFormat: "yy-mm-dd"
  
    $.datepicker.setDefaults( $.datepicker.regional[ "ja" ] );
    
    //開始月(支払)
    $('#search_cash_flow_date_from').datepicker({
      dateFormat: "yy-mm",
      //カレンダーを開いた時、入力値の状態にさせる処理
      beforeShow: function (dateText, inst) { 
        dateText = document.getElementById("search_cash_flow_date_from").value;
        date = new Date(dateText);
        if (dateText != ""){
          $.datepicker.setDefaults({"defaultDate":date});
        }
      },
      onSelect: function(dateText) {
        //終了月へ開始月をコピー(未入力の場合または開始月が終了月より大きい場合)
        //if (document.getElementById("search_cash_flow_date_to").value == "" || 
        //    document.getElementById("search_cash_flow_date_from").value > document.getElementById("search_cash_flow_date_to").value){
        //   document.getElementById("search_cash_flow_date_to").value = 
        //    document.getElementById("search_cash_flow_date_from").value;
        //}
        
        //請求開始終了日をクリア
        //clearBillingDateFromTo();
      },
    });
     //開始月(請求)
    $('#search_month_from').datepicker({
      dateFormat: "yy-mm",
      //カレンダーを開いた時、入力値の状態にさせる処理
      beforeShow: function (dateText, inst) { 
        dateText = document.getElementById("search_month_from").value;
        date = new Date(dateText);
        if (dateText != ""){
          $.datepicker.setDefaults({"defaultDate":date});
        }
      },
      onSelect: function(dateText) {
        //終了月へ開始月をコピー(未入力の場合または開始月が終了月より大きい場合)
        if (document.getElementById("search_month_to").value == "" || 
            document.getElementById("search_month_from").value > document.getElementById("search_month_to").value){
           document.getElementById("search_month_to").value = 
            document.getElementById("search_month_from").value;
        }
        //支払開始・終了日をクリア
        clearPaymentDateFromTo();
      },
    });
    
    //終了月(請求)
    $('#search_month_to').datepicker({
      dateFormat: "yy-mm",
      //カレンダーを開いた時、入力値の状態にさせる処理
      beforeShow: function (dateText, inst) { 
        dateText = document.getElementById("search_month_to").value;
        date = new Date(dateText);
        if (dateText != ""){
          $.datepicker.setDefaults({"defaultDate":date});
        }
      },
      onSelect: function(dateText) {
        //支払開始・終了日をクリア
        clearPaymentDateFromTo();
      //  debugger;
      },
    });
    
    //終了月(支払)
    $('#search_cash_flow_date_to').datepicker({
      dateFormat: "yy-mm",
      //カレンダーを開いた時、入力値の状態にさせる処理
      beforeShow: function (dateText, inst) { 
        dateText = document.getElementById("search_cash_flow_date_to").value;
        date = new Date(dateText);
        if (dateText != ""){
          $.datepicker.setDefaults({"defaultDate":date});
        }
      },
      onSelect: function(dateText) {
        //請求開始終了日をクリア
        //clearBillingDateFromTo();
      //  debugger;
      },
    });
    
     //select2をenterキー押下した場合(リストが閉じられた時)のタブ移動。
	 $( ".searchableConstructionCode" ).on("select2:close", function (e) {
	   $('[tabindex=4]').focus(); 
	 });
    
     //見出し固定用設定
	 var sz = window.parent.screen.width;
	 var fc = 1;    //デフォルトの固定列数(社長PC基準)
	 var ht = 610;  //デフォルトの高さ(社長PC基準)
	 
	 if (sz != 1920) {
	 //画面サイズ1920px(社長PC基準)以外は、列固定させる。
        fc = 0;  //固定列数 (0 to 1 180627)
		ht -= 70;
		sz -= 0;
	 }
     //フレシキブル画面が損なわれるが社長好みのため使用・・
	 //$('#tablefix').tablefix({width: sz, height: ht, fixRows: 1, fixCols: fc});
     $('#tablefix').tablefix({width: sz, height: ht, fixRows: 3, fixCols: fc});
     //
     
     //ソート用（必ず上記の固定用のファンクションの下に置くこと）
     //$("#sortable").sortable({
     $("#tablefix tbody").sortable({
       connectWith: ".connectedSortable",
       update: function(event, ui) {
       
         var serial = $(this).sortable('serialize');
         
         //var serial = $('#sortable').sortable('serialize');
         //var serial = $('#tablefix tbody').sortable('serialize');
         
         $.ajax({
           url: "{% url 'account:payment_sort' %}",
           type: "post",
           data: { 'content': serial, 'csrfmiddlewaretoken' : '{{ csrf_token }}' } 
         });
       },
     }).disableSelection();
    
    
    //削除確認用
    $('.del_confirm').on('click', function () {
       $("#del_pk").text($(this).attr("pk"));
       $('#del_url').attr('href', $(this).attr("url"));
    });
   
    
  });

  //画面位置保持用
  $.fn.keepPosition = function(){
    //cookieに保存する名前（他のページと競合しないようURLを含めるようにする）
    var key = 'keep-position-'+location.pathname;
    //var win = $(window);
    
    this.each(function(){
        
        $(document).on('click', '.keep-disp', function(){
        
            if (typeof bodyDiv != 'undefined'){  //←これがないとエラーが出るケース有
              div_top = bodyDiv.scrollTop();
              $.cookie(key, div_top);
            }
        });
    });
    
    setTimeout(function(){
		if (typeof bodyDiv != 'undefined'){  //←これがないとエラーが出るケース有
            bodyDiv.scrollTop($.cookie(key));
        }
    },0);
    
  }
  
    
  //請求開始・終了日をクリア
  function clearBillingDateFromTo(){
    document.getElementById("search_month_from").value = "";
    document.getElementById("search_month_to").value = "";
  }
  //支払開始・終了日をクリア
  function clearPaymentDateFromTo(){
    document.getElementById("search_cash_flow_date_from").value = "";
    document.getElementById("search_cash_flow_date_to").value = "";
  }
  
  ////
  //開始日をクリアする
  function clearDateFrom(){
   document.getElementById("search_month_from").value = "";
  }
  //終了日をクリアする
  function clearDateTo(){
   document.getElementById("search_month_to").value = "";
  }
  //支払開始日をクリアする
  function clearPayDateFrom(){
   document.getElementById("search_cash_flow_date_from").value = "";
  }
  //支払終了日をクリアする
  function clearPayDateTo(){
   document.getElementById("search_cash_flow_date_to").value = "";
  }
  
  //取引区分をクリアする
  function clearTradeDivision(){
    document.getElementById("id_trade").selectedIndex = 0;
  }
  
  //支払区分をクリアする
  function clearPayment(){
    document.getElementById("id_payment").selectedIndex = 0;
  }
  
  function checkDate(){
    if (document.getElementById("search_month_from").value == "" && document.getElementById("search_month_to").value == ""){
        alert("「請求〆」の開始・終了年月を入力してください。");
        return false;
    }else if (document.getElementById("search_month_from").value != document.getElementById("search_month_to").value) {
        alert("この帳票は、複数月は指定できません。");
        return false;
    }
  }
  
  //集計ボタンを押した場合の確認
  //function clicked() {
  //  if (confirm('集計データを作成します。\n(修正済のデータがある場合、一旦リセットされます)\n本当に実行してよろしいですか？')) 
  //  {
  //         yourformelement.submit();
  //  } else {
  //         return false;
  //  }
  //}

  //$(function() {
    
  //});
  
  
</script>

{% endblock content %}
