{% extends "base.html" %}
{% load bootstrap %}

{% block title %}勘定科目(貸借用)の編集{% endblock title %}

{% block content %}
    <h3 class="page-header">勘定科目(貸借用)の編集</h3>
    {% if account_id %}
    <form action="{% url 'account:account_mod' account_id=account_id %}" method="post" class="form-horizontal" role="form">
    {% else %}
    <form action="{% url 'account:account_add' %}" method="post" class="form-horizontal" role="form">
    {% endif %}
      {% csrf_token %}
      {{ form|bootstrap_horizontal }}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">登録</button>
        </div>
      </div>
    </form>
    <a href="{% url 'account:account_list' %}" class="btn btn-default">戻る</a>

{% endblock content %}