{% extends "base.html" %}
{% load humanize %}
{% load debug_tags %}
{% load sorting_tags %}

<!--デバッグしたい箇所で下記をセットする-->
<!--{% set_trace %}-->

<!--{% block title %}現金出納帳の一覧{% endblock title %}-->

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}
    <h3 class="page-header">現金出納帳の一覧</h3>
    
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    
    
    
    <form type="get" action="" style="margin: 0">
    
        <label for="searchbox">領収日(開始):</label>
        <input class="searchfield" id="search_receipt_date_from" name="q_receipt_date_from" type="text" value="{{search_receipt_date_from}}" placeholder="選択してください..."/>
        
        <button type="button" class="btn btn-grey400_rsd btn-xs" onclick="clearReceiptDateFrom()" >×</button>
        
        <label for="searchbox">領収日(終了):</label>
        <input class="searchfield" id="search_receipt_date_to" name="q_receipt_date_to" type="text" value="{{search_receipt_date_to}}" placeholder="選択してください..."/>
        
        <button type="button" class="btn btn-grey400_rsd btn-xs" onclick="clearReceiptDateTo()" >×</button>
        
        </br>
        
        <label for="id_staff">担当:</label>
        <select  class="django-select2" id="id_staff" style="width:200px;"  name="q_staff" value="{{ request.GET.q_staff }}" data-minimum-input-length="0">
          <option value=""></option>
          {% for staff in staffs %}
            <option value="{{staff.id}}" {% if search_staff == staff.id|stringformat:"s" %} selected {% endif %} >
               {{staff.staff_name}}
            </option>
          {% endfor %}
          
        </select>
        
        <label for="id_not_staff">担当(除外):</label>
        <select  class="django-select2" id="id_not_staff" style="width:200px;"  name="q_not_staff" value="{{ request.GET.q_not_staff }}" data-minimum-input-length="0">
          <option value=""></option>
          {% for staff in staffs %}
            <option value="{{staff.id}}" {% if search_not_staff == staff.id|stringformat:"s" %} selected {% endif %} >
               {{staff.staff_name}}
            </option>
          {% endfor %}
          
        </select>
        
         <label for="searchbox">精算日(開始):</label>
        <input class="searchfield" id="search_settlement_date_from" name="q_settlement_date_from" type="text" value="{{search_settlement_date_from}}" placeholder="選択してください..."/>
        
        <button type="button" class="btn btn-grey400_rsd btn-xs" onclick="clearSettlementDateFrom()" >×</button>
        
        <label for="searchbox">精算日(終了):</label>
        <input class="searchfield" id="search_settlement_date_to" name="q_settlement_date_to" type="text" value="{{search_settlement_date_to}}" placeholder="選択してください..."/>
        <button type="button" class="btn btn-grey400_rsd btn-xs" onclick="clearSettlementDateTo()" >×</button>
        
        </br>
        <label for="id_account_title">科目:</label>
        <select  class="django-select2" id="id_account_title" style="width:200px;"  name="q_account_title" value="{{ request.GET.q_account_title }}" data-minimum-input-length="0">
          <option value=""></option>
          {% for account_title in account_titles %}
            <option value="{{account_title.id}}"{% if search_account_title == account_title.id|stringformat:"s" %} selected {% endif %}>
              {{account_title.name}}
            </option>
          {% endfor %}
        </select>
        
        </br>
        <button id="search_submit" type="submit" class="btn btn-grey200_rsd keep-disp" >検索</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <a href="{% url 'account:cash_book_list_2' %}" class="btn btn-cyan700_ftg keep-disp" target="_blank" onclick="return confirm('集計表を出力します。よろしいですか？')" >集計表作成</a>
        
        
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <!-- 出納帳 -->
        <a href="{% url 'account:cash_book_list_1' %}" class="btn btn-orange800_ftg keep-disp" target="_blank" onclick="return confirm('出納帳（週単位）を発行します。集計したい期間を指定し、\n検索済みであることを確認してください。\n(必ず精算日を選択し、開始日は必ず月曜日にして下さい。)\n\n実行してよろしいですか？')" >出納帳(週毎)</a>
        
        <a href="{% url 'account:set_weekly' %}" class="btn btn-lightblue200_rsd keep-disp" style="padding-top:2px; height: 20px;" onclick="return confirm('週末の集計データを作成します。集計したい期間を指定し、検索済みであることを確認してください。(開始日は必ず月曜日にして下さい。)\n本当に実行してよろしいですか？')" >週末データ作成（手動）</a>
        
        <!-- 出納帳CSV 使えることがあるかもしれないので、このまま残しておく。
        <a href="{% url 'account:cash_book_export' %}" class="btn btn-purple200_rsd keep-disp" style="padding-top:2px; height: 20px;" onclick="return confirm('ＣＳＶを出力します。集計したい期間を指定し、検索済みであることを確認してください。(開始日は必ず月曜日にして下さい。)\n実行してよろしいですか？')" >ＣＳＶ出力</a>
        -->
         <!--抽出レコードのCSV出力用 pdf化したので今の所不要、但し中越と連携などで必要になるかも？
         <a href="{% url 'account:cash_book_export_extract' %}" class="btn btn-yellow200_rsd keep-disp" style="padding-top:2px; height: 20px;" onclick="return confirm('ＣＳＶを出力します。集計したい期間等条件を指定し、\n検索済みであることを確認してください。\n本当に実行してよろしいですか？')" >ＣＳＶ(絞り込み)</a>
         -->
         <!--うまくいかないので保留中・・・
          <a href="{% url 'account:training_account_title' %}" class="btn btn-green200_rsd keep-disp" style="padding-top:2px; height: 20px;" onclick="return confirm('勘定科目の教師データを作成します。\n本当に実行してよろしいですか？')" >勘定科目の学習データ作成</a>
         -->
    </form>
    
    
    <a href="{% url 'account:cash_book_add' %}" class="btn btn-primary keep-disp">新規作成</a>
    
    <!--残高を表示-->
    <th>収入金額計：￥</th><td>{{ total_incomes| intcomma:False }}</td>
    &nbsp;&nbsp;&nbsp;
    <th>支払金額計：￥</th><td>{{ total_expences| intcomma:False }}</td>
    &nbsp;&nbsp;&nbsp;
    <th>差引：￥</th><td>{{ toal_balance| intcomma:False }}</td>
    &nbsp;&nbsp;&nbsp;
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <th>総残高：￥</th><td>{{ balance| intcomma:False }}</td>
    &nbsp;&nbsp;&nbsp;
    <th>残高(社長)：￥</th><td>{{ balance_president| intcomma:False }}</td>
    &nbsp;&nbsp;&nbsp;
    <th>残高(社員)：￥</th><td>{{ balance_staff| intcomma:False }}</td>

<!--見出し固定用設定-->
<div style="margin-top : -0px;", class="span11 table-scrollable" >
 
  <style>
   table { }
   table th, table td { white-space:nowrap; overflow:hidden; }
  </style>
  
    {% autosort cash_books %}
    <table id="tablefix", class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>{% anchor id "ID" %}</th>
          <th>{% anchor order "順" %}</th>
          <th>領収日</th>
          <th>科目</th>
          <th>摘要</th>
          <th></th>
          <th>収入金額</th>
          <th>支払金額</th>
          <th>担当</th>
          <th>精算日</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="sortable" class="connectedSortable">
        {% for cash_book in cash_books %}
        <tr id="cash_book_{{ cash_book.id }}">
          <td>{{ cash_book.id }}</td>
          <td>{{ cash_book.order }}</td>
          <td>{{ cash_book.receipt_date|date:"Y/m/d" }}</td>
          <td>{{ cash_book.account_title }}</td>
          <td>{{ cash_book.description_partner }}</td>
          <td>{{ cash_book.description_content }}</td>
          {% if cash_book.incomes != null %}
            <td align="right">￥{{ cash_book.incomes| intcomma:False }}</td>
          {% else %}
            {% if cash_book.purchase_order_code_id == null %}
              <td align="right">{{ cash_book.incomes| default_if_none:EMPTY_MARK }}</td>
            {% else %}
              <td align="right">({{cash_book.purchase_order_code | default_if_none:EMPTY_MARK }})</td>
            {% endif %}
          {% endif %}
          
          {% if cash_book.expences != null %}
            <td align="right">￥{{ cash_book.expences| intcomma:False }}</td>
          {% else %}
            <td align="right">{{ cash_book.expences| default_if_none:EMPTY_MARK }}</td>
          {% endif %}
          
          <td>{{ cash_book.staff|default_if_none:EMPTY_MARK|truncatewords:1 }}</td>
          <td>{{ cash_book.settlement_date|date:"Y/m/d(D)" }}</td>
          <td>
            <a href="{% url 'account:cash_book_mod' cash_book_id=cash_book.id %}" class="btn btn-default btn-sm keep-disp">編集</a>
            <!--<a href="{% url 'account:cash_book_del' cash_book_id=cash_book.id %}" class="btn btn-default btn-sm">削除</a>-->
            <button class="btn btn-danger btn-sm del_confirm keep-disp" data-toggle="modal" data-target="#deleteModal"
                  pk="{{ cash_book.id }}" url="{% url 'account:cash_book_del' cash_book_id=cash_book.id cash_book_id=cash_book.id %}">削除</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <!--新規ボタンを下端にも表示する-->
    <a href="{% url 'account:cash_book_add' %}" class="btn btn-primary keep-disp">新規作成</a>
</div>
	{# 削除を確認するモーダル ダイアログ #}
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="deleteModalLabel">確認</h4>
        </div>
        <div class="modal-body">
          <p>ID: <span id="del_pk"></span> を削除しますか？</p>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-primary" id="del_url">OK</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
<script>
  
  $(document).on('ready page:load', function(){
    
    //select2
    $("#id_account_title").select2({  theme: "classic", allowClear: true , placeholder: '指定無し' });
    $("#id_staff").select2({  theme: "classic", allowClear: true , placeholder: '指定無し' });
    $("#id_not_staff").select2({  theme: "classic", allowClear: true , placeholder: '指定無し' });
    
    //画面位置保持用
    $('form').keepPosition();
    
    //見出し固定用設定
	 var sz = window.parent.screen.width;
	 var fc = 1;    //デフォルトの固定列数(社長PC基準)
	 var ht = 610;  //デフォルトの高さ(社長PC基準)
	 
	 if (sz != 1920) {
	 //画面サイズ1920px(社長PC基準)以外は、列固定させる。
        //fc = 1;  //固定列数
        fc = 0;  //固定列数  (1 to 0)
		ht -= 70;
		sz -= 0;
	}
    $('#tablefix').tablefix({width: sz, height: ht, fixRows: 1, fixCols: fc});
    //
    
    //ソート用
    //$("#sortable").sortable({
    $("#tablefix tbody").sortable({
       connectWith: ".connectedSortable",
       update: function(event, ui) {
         //var serial = $('#sortable').sortable('serialize');
         var serial = $(this).sortable('serialize');
         
         $.ajax({
           url: "{% url 'account:cash_book_sort' %}",
           type: "post",
           data: { 'content': serial, 'csrfmiddlewaretoken' : '{{ csrf_token }}' } 
         });
       },
    }).disableSelection();
    
    //dateFormat: "yy-mm",
      
    $.datepicker.setDefaults( $.datepicker.regional[ "ja" ] );
    //開始月(請求日)
    $('#search_settlement_date_from').datepicker({
      //dateFormat: "yy-mm-dd",
      dateFormat: "yy-mm-dd(D)",
      //カレンダーを開いた時、入力値の状態にさせる処理
      beforeShow: function (dateText, inst) { 
        dateText = document.getElementById("search_settlement_date_from").value;
        date = new Date(dateText);
        if (dateText != ""){
          $.datepicker.setDefaults({"defaultDate":date});
        }
      },
      onSelect: function(dateText) {
        //開始日が月曜と仮定し、週末を終了日に設定
        //if (document.getElementById("search_settlement_date_to").value == "" || 
        //    document.getElementById("search_settlement_date_from").value > document.getElementById("search_settlement_date_to").value){
            
            var date2 = $('#search_settlement_date_from').datepicker('getDate', '+1d'); 
            date2.setDate(date2.getDate()+5);  //５日足す
            $('#search_settlement_date_to').datepicker('setDate', date2);
            
            //領収日をクリア
            clearReceiptDate();
            
        //}
      },
    });
    
    //終了月(請求日)
    $('#search_settlement_date_to').datepicker({
      //dateFormat: "yy-mm-dd",
      dateFormat: "yy-mm-dd(D)",
      //カレンダーを開いた時、入力値の状態にさせる処理
      beforeShow: function (dateText, inst) { 
        dateText = document.getElementById("search_settlement_date_to").value;
        date = new Date(dateText);
        if (dateText != ""){
          $.datepicker.setDefaults({"defaultDate":date});
        }
      },
      onSelect: function(dateText) {
      //  debugger;
      },
    });
     
    //開始月(領収日)
    $('#search_receipt_date_from').datepicker({
      dateFormat: "yy-mm-dd",
      //カレンダーを開いた時、入力値の状態にさせる処理
      beforeShow: function (dateText, inst) { 
        dateText = document.getElementById("search_receipt_date_from").value;
        date = new Date(dateText);
        if (dateText != ""){
          $.datepicker.setDefaults({"defaultDate":date});
        }
      },
      onSelect: function(dateText) {
        //請求日をクリア
        clearSettlementDate();
      },
    });
    //終了月(領収日)
    $('#search_receipt_date_to').datepicker({
      dateFormat: "yy-mm-dd",
      //dateFormat: "yy-mm-dd(D)",
      //カレンダーを開いた時、入力値の状態にさせる処理
      beforeShow: function (dateText, inst) { 
        dateText = document.getElementById("search_receipt_date_to").value;
        date = new Date(dateText);
        if (dateText != ""){
          $.datepicker.setDefaults({"defaultDate":date});
        }
      },
    });
   
  });
  
  //領収日（開始）をクリアする
  function clearReceiptDateFrom(){
   document.getElementById("search_receipt_date_from").value = "";
  }
  //領収日（終了）をクリアする
  function clearReceiptDateTo(){
   document.getElementById("search_receipt_date_to").value = "";
  }
  //領収日（開始.終了）をクリアする
  function clearReceiptDate(){
    document.getElementById("search_receipt_date_from").value = "";
    document.getElementById("search_receipt_date_to").value = "";
  }
  //請求日（開始）をクリアする
  function clearSettlementDateFrom(){
    document.getElementById("search_settlement_date_from").value = "";
  }
  //請求日（終了）をクリアする
  function clearSettlementDateTo(){
   document.getElementById("search_settlement_date_to").value = "";
  }
  //請求日（開始・終了）をクリアする
  function clearSettlementDate(){
    document.getElementById("search_settlement_date_from").value = "";
    document.getElementById("search_settlement_date_to").value = "";
  }
  
  $('form').on('submit', function(e){
     //e.preventDefault();
     //曜日が入っているので通常フォーマットに変換する
     if (document.getElementById("search_settlement_date_from").value.indexOf('(') > 0){
     //曜日が入っている場合だけフォーマットする（そうしないと消えてしまう）
       document.getElementById("search_settlement_date_from").value = 
             $("#search_settlement_date_from").datepicker("option", "dateFormat", "yy-mm-dd" ).val();
     }
     if (document.getElementById("search_settlement_date_to").value.indexOf('(') > 0){
     //曜日が入っている場合だけフォーマットする（そうしないと消えてしまう）
        document.getElementById("search_settlement_date_to").value =
             $("#search_settlement_date_to").datepicker("option", "dateFormat", "yy-mm-dd" ).val();
     }
  });
  
   //画面位置保持用
  $.fn.keepPosition = function(){
    //cookieに保存する名前（他のページと競合しないようURLを含めるようにする）
    var key = 'keep-position-'+location.pathname;
    var win = $(window);
    this.each(function(){
        //$(this).on('submit',function(){
        $(".keep-disp").click(function(){
			//div_top = bodyDiv.scrollTop();
			//$.cookie(key, div_top);
            $.cookie(key, win.scrollTop());
	    });
    });
    setTimeout(function(){
		//bodyDiv.scrollTop($.cookie(key));
        win.scrollTop($.cookie(key));
    },0);
  }
  
  
  
  $(function() {
    $('.del_confirm').on('click', function () {
       $("#del_pk").text($(this).attr("pk"));
       $('#del_url').attr('href', $(this).attr("url"));
    });
  });
</script>

{% endblock content %}